@if (Request.IsAuthenticated)
{
    <ui class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Hello, "+User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            }
        </li>
    </ui>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href=@Url.Action("Register","Account")>Register</a></li>
        <li><a href=@Url.Action("Login","Account")>Sing In</a></li>
    </ul>
}
