@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">@Resources.Resource.Error</h1>
    <h2 class="error">@Resources.Resource.ErrorMess</h2>
</hgroup>
