@model SellYourTime.Models.UploadPhotoModel
@{
    ViewBag.Title = "Create";
    var tag = ViewBag.Tag;
}
<div class="col-xs-4 col-xs-offset-4">
    <form class="form-horizontal" method="POST" action="@Url.Action("Index")" enctype="multipart/form-data">
        <fieldset>
            <legend>Create</legend>
            <div class="form-group">
                <label for="Title" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="Title" id="Title" placeholder="Title" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Value" class="col-lg-2 control-label">Tag</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="Value" id="Value" placeholder="Tag" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="Description" name="Description" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Price" class="col-lg-2 control-label">Price</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" name="Price" id="Price" placeholder="Price" required>
                </div>
            </div>
            <div class="form-group" id="InputFiles">
                <label for="FirstPostedFile" class="col-lg-2 control-label">Photo</label>
                <div id="firstFileInput" class="col-lg-10">
                    <input id="firstlefile" type="file" name="FirstPostedFile" style="display:none" onchange="">
                    <div class="input-group input-append" id="firstloadGroup">
                        <input type="text" id="firstphotoCover" class="form-control" placeholder="Choose a photo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    onclick="$('input[id=firstlefile]').click();">
                                Browse
                            </button>
                        </span>
                    </div>
                </div>
                <div id="secondFileInput" class="col-lg-offset-2 col-lg-10" hidden>
                    <input id="secondlefile" type="file" name="SecondPostedFile" style="display:none" onchange="">
                    <div class="input-group input-append" id="secondloadGroup">
                        <input type="text" id="secondphotoCover" class="form-control" placeholder="Choose a photo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    onclick="$('input[id=secondlefile]').click();">
                                Browse
                            </button>
                        </span>
                    </div>
                </div>
                <div id="thirdFileInput" class="col-lg-offset-2 col-lg-10" hidden>
                    <input id="thirdlefile" type="file" name="ThirdPostedFile" style="display:none" onchange="">
                    <div class="input-group input-append" id="thirdloadGroup">
                        <input type="text" id="thirdphotoCover" class="form-control" placeholder="Choose a photo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    onclick="$('input[id=thirdlefile]').click();">
                                Browse
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" class="btn btn-success btn-block" style="padding-left: 15px; padding-right: 15px" onclick="addFile()" id="AddMore">Add file</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" class="btn btn-default" onclick="@Url.Action("Index","Home")">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    window.i = 1;
    function addFile() {
        if (i == 1) {
            document.getElementById("secondFileInput").hidden = false;
            i++;
        } else if (i == 2) {
            document.getElementById("thirdFileInput").hidden = false;
            $('#AddMore').replaceWith('<button type="button" class="btn btn-primary disabled col-xs-offset-3 col-xs-6" id="AddMore">maximum photo</button>');
            i++;
        }
    }
</script>